.nav{background-color: bisque;
color:  #0d6efd;
height: 50px;
display: flex;
align-items: center;
}
.nav ul {display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;}
  * {background-color: bisque;}
 .fig{display: flex;
margin-top: 20px;
margin-left: 500px;
}
.title{display: flex;
justify-content: center;
margin-left: 400px;
color: #0d6efd;}
.title2 {display: flex;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
justify-content: center;
margin-top: 80px;
color: black ;
}
.form{margin-top: 40px;}